* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  font-weight: 400;
}

body {
  background-color: #f9f7f7;
  padding: 20px;
  min-height: 100vh;
}

.flowers {
  position: absolute;
  top: -100px;
  z-index: -1;
  left: 0;
}

.main-title {
  font-weight: 400;
  font-size: 70px;
  margin-bottom: 110px;
}

.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  text-align: center;
  padding: 220px 0px 116px 0px;
  position: relative;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
}

.card-container {
  width: 340px;
  height: 573px;
  padding: 25px;
  background-color: #f7f7fa;
  box-shadow: 2px 2px 10px 0px #5150761a;
  text-align: left;
}

.product-category {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #a5a3b9;
  margin-top: 30px;
  margin-bottom: 5px;
  display: block;
}

.product-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 5px;
}

.product-description {
  margin-bottom: 15px;
}

.product-compoud {
  margin-top: 5px;
  margin-bottom: 25px;
  padding-left: 17px;
}

.product-compoud-item {
  margin-left: 0;
  list-style: circle;
}

.card-container > span {
  display: block;
  margin-top: 5px;
}

.product-price-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-price {
  font-size: 20px;
  line-height: 24px;
}

.product-price-container {
  display: flex;
  justify-content: space-between;
}